header {
    text-align: center;
}

img.logo {
    max-width: 40%;
    width: 150px;
}


/* Click through to other pages */
nav a {
    font-family:Arial, Helvetica, sans-serif;
    color: #070707;
    margin-bottom: 40px;
    text-decoration: none;
    font-size: 1.5vw; 
    
}

/* logo */
main {
    text-align: center;
}

img.about {
    max-width: 20%;

}

/* Bio paragraph*/
p {
    margin-top: 30px;
    max-height: 60%;
    max-width: 40%;
    margin-left: 30%;
    font-style: italic;
    text-align: center;
    background-color: #dbf5f4;
    border-radius: 75%;
    background: radial-gradient(circle at center, #ceefef 0, #f2ffff, white 100%);
    
}